services:
  web:
    build:
      context: ./client
      dockerfile: Dockerfile
    image: amirhurtado/next-image:latest
    container_name: next-container

    env_file:
      - .env
      
    ports:
      - "3000:3000"

    volumes:
      - ./client:/app
      - /app/node_modules

    command: npm run dev

    depends_on:
      - db

  
  db:
    image: postgres:latest

    container_name: postgres-container

    restart: always

    ports:
      - "55000:5432"

    volumes:
      # Esto es MUY importante para que los datos de tu DB no se borren
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data: